<h1>UCSD CSE 140L Lab {{lab_number}}</h1>

<div>
{% if missing_files %}
    <h2>We cannot find your:</h2>
    <ul>
        {% for missing in missing_files %}
            <li><code>{{ missing }}.dig</code></li>
        {% endfor %}
    </ul>
    <p>Please check if you have submitted all the files and that the files are named correctly!</p>
{% else %}
    <h2>All files submitted!</h2>
{% endif %}
</div>

<div>
<h2>Circuit Screenshots:</h2>
{% for top_level, svg, analysis_errors in circuit_info %}
    <div>
        <h3><code>{{ top_level }}.dig</code></h3>
        {{ svg }}
        {% if analysis_errors %}
            <p><code>{{ top_level }}</code> has the following analysis errors:</p>
            <ul>
                {% for error in analysis_errors %}
                    <li><code>{{ top_level }}</code> has {{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endfor %}
</div>